<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
    <!--日志格式应用spring boot默认的格式，也可以自己更改-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--日志文件大小-->
    <property name="MAX_FILE_SIZE" value="100MB"/>
    <!--日志文件保留天数-->
    <property name="MAX_HISTORY" value="30"/>

    <!--定义日志存放的位置，默认存放在项目启动的相对路径的目录-->
    <springProperty scope="context" name="LOG_PATH" source="log.path" defaultValue="app-log"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>


